In [106]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [107]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [108]:
pip isntall seaborn

ERROR: unknown command "isntall" - maybe you meant "install"

In [109]:
import pandas as pd

In [110]:
import numpy as np

In [111]:
import seaborn as sns 
import matplotlib as mpl
import matplotlib.pyplot as plt 
import plotly.express as px

In [192]:
df = pd.read_excel("mic2.xlsx",
                   engine = "openpyxl")
df

,Timestamp,Name,Age,Sex,Ocupation,Monthly income,Price,Quality,Quantity,Availability,...,Overal satisfaction,Consistency,Factor,Frowned,reason,Popular,My favorite,Kind,Preference,Recommend
0,2021-09-24 11:41:37.540,Jobish Vallikavungal Devassia,31 - 40,Male,Research,">40, 000",5,5,5,4,...,4,4,Taste,No,NaN,Combo_VLM,Chocolate,More than one flavoured,agree,agree
1,2021-09-24 11:44:42.933,chikku,21 - 30,Male,student,"<10,000",3,5,3,4,...,4,4,Taste,No,Quantity issues,Combo_VCS,Chocolate,More than one flavoured,neutral,neutral
2,2021-09-24 11:49:07.510,Dr Lillykutty Abraham,41 - 50,Female,Teaching,">40, 000",3,4,4,4,...,4,4,Taste,No,NaN,Combo_VCS,Caramel,More than one flavoured,disagree,neutral
3,2021-09-24 21:49:47.576,Joshua,21 - 30,Male,Student,"<10,000",5,5,3,4,...,4,4,Taste,No,NaN,Combo_VCS,Strawbery,More than one flavoured,agree,agree
4,2021-09-24 21:53:14.805,Aswathi,21 - 30,Female,Tutor,"10,000 - 20,000",5,5,4,4,...,5,5,Quality,No,NaN,Combo_VCS,Vanila,single flavoured,agree,Strongly agree
5,2021-09-24 21:54:24.753,Anusha Paul,21 - 30,Female,Student,"<10,000",3,3,3,3,...,3,4,Taste,No,.no,Combo_CRC,Chocolate,single flavoured,neutral,agree
6,2021-09-24 21:55:55.711,Mini,41 - 50,Female,House wife,"<10,000",4,4,4,4,...,4,4,Taste,No,Texture defect,Combo_VCS,Vanila,single flavoured,neutral,agree
7,2021-09-24 21:56:54.171,Aleena PS,<=20,Female,Student,"<10,000",3,4,4,4,...,5,5,Taste,No,NaN,Combo_CRC,Caramel,More than one flavoured,agree,agree
8,2021-09-24 21:56:58.870,Godveena,21 - 30,Female,Student,"10,000 - 20,000",3,3,3,4,...,3,4,Quality,No,Quality issues,Combo_VCS,Chocolate,More than one flavoured,neutral,agree
9,2021-09-24 21:58:18.809,Livin Varghese,21 - 30,Male,Engineer,"<10,000",3,5,4,5,...,4,5,Quality,No,NaN,Combo_VCS,Chocolate,single flavoured,agree,agree
10,2021-09-24 21:58:29.995,Akhil m b,21 - 30,Male,Student,"<10,000",2,4,3,3,...,4,3,Taste,Yes,Quality issues,Combo_VCS,Vanila,single flavoured,agree,agree
11,2021-09-24 22:00:41.325,Arun George,21 - 30,Male,Student,"<10,000",2,4,4,3,...,4,4,Taste,No,NaN,Combo_VCS,Chocolate,More than one flavoured,neutral,neutral
12,2021-09-24 22:01:02.816,Rinshad Abdul Jamal,21 - 30,Male,Prosthetist and Orthotist,"20,000 - 30,000",5,4,4,5,...,4,4,Taste,No,Body Defect,Combo_VCS,Chocolate,single flavoured,neutral,agree
13,2021-09-24 22:04:50.634,Vibin,21 - 30,Male,Student,"10,000 - 20,000",3,5,4,4,...,4,3,Quality,Yes,Body Defect,Combo_VCS,Strawbery,More than one flavoured,agree,agree
14,2021-09-24 22:05:06.668,Adv.saranya raj,21 - 30,Female,Advocate,"<10,000",4,4,4,4,...,4,4,Quality,No,Texture defect,Combo_CRC,Strawbery,single flavoured,agree,agree
15,2021-09-24 22:09:03.786,Linta,21 - 30,Female,Student,"<10,000",4,4,3,4,...,4,4,Taste,No,NaN,Combo_VCS,\nButterscotch,single flavoured,neutral,agree
16,2021-09-24 22:10:34.981,Disna Joseph,21 - 30,Female,Student,"<10,000",4,4,5,5,...,5,5,Quality,Yes,Quality issues,Combo_VCS,Vanila,More than one flavoured,agree,agree
17,2021-09-24 22:10:38.598,Mariya,21 - 30,Female,Student,"<10,000",3,4,4,4,...,4,3,Taste,No,No,Combo_VCS,Chocolate,single flavoured,neutral,neutral
18,2021-09-24 22:15:56.230,ANEESHVD,31 - 40,Male,Farmer,"<10,000",3,5,4,4,...,4,5,Quality,Yes,Quality issues,Combo_VLM,Chocolate,More than one flavoured,Strongly agree,Strongly agree
19,2021-09-24 22:17:29.367,Linta,31 - 40,Female,House wife,"<10,000",3,3,4,3,...,2,3,Quality,Yes,Quality issues,Combo_VLM,Vanila,More than one flavoured,Strongly agree,agree
20,2021-09-24 22:20:01.083,Nf,<=20,Female,Student,"30,000 - 40,000",3,3,3,5,...,3,3,Taste,No,NaN,Combo_VCS,Chocolate,single flavoured,neutral,neutral
21,2021-09-24 22:22:09.724,Asher john,21 - 30,Male,Director,">40, 000",5,4,4,5,...,5,5,Quantity,No,Quality issues,Combo_VLM,Caramel,single flavoured,Strongly agree,Strongly agree
22,2021-09-24 22:23:41.662,Anna Mariya Thomas,21 - 30,Female,Studying,"<10,000",3,4,4,4,...,3,3,Quality,No,Quality issues,Combo_VCS,Chocolate,single flavoured,neutral,neutral
23,2021-09-24 22:24:03.534,Keerthana.R.Nair,21 - 30,Female,Journalist,"10,000 - 20,000",4,4,4,4,...,4,4,Taste,No,NaN,Combo_VCS,Vanila,More than one flavoured,neutral,agree
24,2021-09-24 22:27:06.742,Paul s paracka,21 - 30,Male,Student,"<10,000",3,4,3,5,...,3,4,Quality,No,Quantity issues,Combo_VCS,Chocolate,single flavoured,neutral,neutral
25,2021-09-24 22:33:55.347,Joseph,21 - 30,Male,Student,"10,000 - 20,000",5,2,4,4,...,4,4,Quality,Yes,NaN,Combo_CRC,\nButterscotch,single flavoured,disagree,Strongly agree
26,2021-09-24 22:42:03.860,Meril,21 - 30,Female,Student,"<10,000",4,5,4,5,...,5,5,Taste,No,NaN,Combo_VCS,Chocolate,single flavoured,neutral,neutral
27,2021-09-24 22:43:20.450,Nithin Mathew,<=20,Male,Student,"<10,000",2,5,5,4,...,5,5,Taste,No,Quantity issues,Combo_VCS,Caramel,More than one flavoured,agree,Strongly agree
28,2021-09-24 22:45:36.803,Rohith,21 - 30,Male,Student,">40, 000",3,3,5,3,...,4,4,Taste,No,Body Defect,Combo_VCS,Caramel,single flavoured,Strongly agree,neutral
29,2021-09-24 22:49:42.330,Paul baby,21 - 30,Male,bank,"20,000 - 30,000",5,5,5,4,...,5,5,Quality,No,NaN,Combo_VCS,Vanila,More than one flavoured,agree,Strongly agree
30,2021-09-24 22:51:47.887,Neenu .K,31 - 40,Female,Sales Executive,"10,000 - 20,000",3,5,4,5,...,5,4,Taste,No,Quantity issues,Combo_VCS,Vanila,single flavoured,agree,Strongly agree
31,2021-09-24 22:57:11.373,Alen M Joy,<=20,Male,Student,"<10,000",2,5,2,3,...,3,4,Taste,No,Quantity issues,Combo_VCS,Chocolate,single flavoured,neutral,agree
32,2021-09-24 22:59:13.192,AM,<=20,Female,Students,"<10,000",3,5,3,4,...,5,5,Taste,No,Quantity issues,Combo_VCS,Chocolate,More than one flavoured,agree,agree
33,2021-09-24 23:06:31.929,Gopika,21 - 30,Female,Student,"10,000 - 20,000",5,5,4,5,...,5,5,Quality,No,NaN,Combo_VCS,Chocolate,single flavoured,neutral,agree
34,2021-09-24 23:19:01.156,Naveen,21 - 30,Male,Student,"<10,000",3,5,5,5,...,3,5,Quality,Yes,Body Defect,Combo_VCS,Caramel,single flavoured,Strongly agree,Strongly agree
35,2021-09-24 23:21:09.648,Anju krishnk,21 - 30,Female,Doctor,"<10,000",4,4,4,3,...,4,4,Taste,No,NaN,Combo_VCS,Vanila,single flavoured,agree,agree
36,2021-09-24 23:31:09.555,Subin,21 - 30,Male,Field work,"10,000 - 20,000",3,5,5,4,...,4,3,Not intrest,No,Quantity issues,Combo_VCS,Chocolate,More than one flavoured,agree,neutral
37,2021-09-24 23:40:43.309,Chris,21 - 30,Female,Teacher,">40, 000",4,4,4,4,...,4,4,Taste,No,Body Defect,Combo_VCS,Chocolate,More than one flavoured,neutral,agree
38,2021-09-24 23:41:53.341,Sajin,21 - 30,Male,Student,"10,000 - 20,000",4,5,5,5,...,4,4,Taste,Yes,Body Defect,Combo_VCS,Chocolate,single flavoured,agree,agree
39,2021-09-24 23:47:15.898,Jane,21 - 30,Female,Marketing,"10,000 - 20,000",5,5,5,5,...,5,5,Taste,Yes,Texture defect,Combo_VLM,Caramel,More than one flavoured,neutral,Strongly agree
40,2021-09-24 23:48:57.616,Akshay N.A.,21 - 30,Male,Studying,"<10,000",5,5,5,5,...,5,5,Quality,Yes,Texture defect,Combo_VCS,Chocolate,More than one flavoured,Strongly agree,Strongly agree
41,2021-09-24 23:50:37.660,Abu Thahir,21 - 30,Male,Employ,"10,000 - 20,000",4,4,4,4,...,4,4,Taste,No,NaN,Combo_VCS,Chocolate,More than one flavoured,neutral,neutral
42,2021-09-24 23:50:47.409,Febin,21 - 30,Male,Febin,">40, 000",4,4,4,4,...,4,5,Price,Yes,Texture defect,Combo_VCS,Caramel,single flavoured,agree,agree
43,2021-09-24 23:50:52.888,Manju Martin,21 - 30,Female,Private Employee,"10,000 - 20,000",1,5,5,5,...,5,5,Taste,No,NaN,Combo_VCS,Caramel,single flavoured,Strongly agree,Strongly agree
44,2021-09-24 23:52:27.025,Alvin,21 - 30,Male,Student,"20,000 - 30,000",3,5,5,5,...,5,4,Taste,No,NaN,Combo_VCS,Caramel,single flavoured,agree,agree
45,2021-09-24 23:53:35.064,Roshan,41 - 50,Male,Business,"30,000 - 40,000",5,5,5,5,...,5,5,Taste,No,Nil,Combo_VCS,Vanila,single flavoured,Strongly agree,Strongly agree
46,2021-09-24 23:58:23.200,Febin,<=20,Male,Student,"<10,000",2,4,3,3,...,3,3,Taste,No,Quantity issues,Combo_VCS,Caramel,More than one flavoured,neutral,disagree
47,2021-09-24 23:58:26.968,Joyal Pjoy,21 - 30,Male,Student,"<10,000",4,5,3,3,...,3,3,Quality,Yes,Quantity issues,Combo_VCS,\nButterscotch,More than one flavoured,agree,agree
48,2021-09-25 00:00:04.111,Sandeep vp,21 - 30,Male,Nothing,"<10,000",3,3,3,2,...,3,2,Taste,No,Quality issues,Combo_VCS,Vanila,More than one flavoured,agree,agree
49,2021-09-25 00:00:55.374,Ebin Martin,21 - 30,Male,Engineer,"<10,000",5,5,4,5,...,5,5,Quality,Yes,Texture defect,Combo_CRC,Vanila,More than one flavoured,agree,Strongly agree

In [193]:
mpl.style.use("ggplot") #para usar tablas

In [194]:
counts = df["Age"].value_counts()

In [195]:
counts #contar la repeticion de cada condicion

21 - 30    37
<=20        6
31 - 40     4
41 - 50     3
Name: Age, dtype: int64

In [196]:
counts= counts.reindex(["<=20","21 - 30","31 - 40","41 - 50"])
counts

<=20        6
21 - 30    37
31 - 40     4
41 - 50     3
Name: Age, dtype: int64

In [197]:
type(counts)
counts = counts.to_frame()
# se cambio los datos de city a table, y ahora si puede leer los datos

In [198]:
x = counts.loc[:,'Age'].sum(axis=0)
x

50

In [199]:
counts['%'] = (counts.iloc[:, :]/x)*100 #sacar porcentualmente los datos

In [200]:
counts

         Age     %
<=20       6  12.0
21 - 30   37  74.0
31 - 40    4   8.0
41 - 50    3   6.0

In [201]:
counts.columns

Index(['Age', '%'], dtype='object')

In [202]:
counts

         Age     %
<=20       6  12.0
21 - 30   37  74.0
31 - 40    4   8.0
41 - 50    3   6.0

In [203]:
y = counts.reset_index()
y

     index  Age     %
0     <=20    6  12.0
1  21 - 30   37  74.0
2  31 - 40    4   8.0
3  41 - 50    3   6.0

In [204]:
y.columns

Index(['index', 'Age', '%'], dtype='object')

In [213]:
y = y.rename({'index':'Age_Group'},
                       axis = 1)
y

  Age_Group  Age     %
0      <=20    6  12.0
1   21 - 30   37  74.0
2   31 - 40    4   8.0
3   41 - 50    3   6.0

In [218]:
x = list(y['Age_Group'])
y = list(y['Age'])

plt.subplot(1,2,1)
plt.rcParams["figure.figsize"]= (15,7)
plt.bar(x,y, width = 0.7, color = 'darkcyan')

explode_list = [0.08 , 0.09 , 0.07 , 0.06] # para hacer que se separen las partes del pie chart
color_list = [ 'gold' , 'yellowgreen', 'coral', 'skyblue', 'pink'] #cambiar colores de la piechart
y['Age'].plot(kind = 'pie',
                   figsize = (15,6),
                   autopct = '%1.1f%%', #es un numero 1, no una L 
                   startangle = 90,
                   shadow = True,
                   labels = None,
                   pctdistance = 1.1,
                   explode = explode_list, #llamar la explode list
                   colors = color_list, #llamar los colores 
)

TypeError: ignored

In [210]:
x = list(counts["Age_Group"])
y= list(counts["Age"])

plt.subplot(1,2,1)
plt.rcParams["figure.figsize"]= (15,7)
plt.bar(x,y,width= 0.7, color= "darkcyan")
plt.xlabel("Age Gruop", fontweight= "regular", color= "black", fontsize=14,
           horizontalalignment="center")
plt.subplot(1,2,2)

from seaborn.palettes import color_palette
explode_list=[0.02,0.05,0.07,0.03]
color_list=["gold","yellowgreen","coral","skyblue","lightgreen","pink"]
counts["Age"].plot(kind="pie",
                   figsize=(15,6),
                   autopct="%1.1f%%",
                   startangle=90,
                   shadow= True,
                   pctdistance= 1.1,
                   labels= None,
                   explode= explode_list,
                   colors = color_list
                   )

plt.show()

KeyError: ignored